node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
.git
.github
*.log
.env
.env.local
**/.env
**/.env.local
storage
**/storage
playwright-report
test-results
docs
README.md
